<% layout('layouts/boilerplate') %>
<img src="login-bg.svg" style="position: absolute; top: 0; width: 100%; height: 100vh;object-fit: cover; z-index: -1;  filter: blur(6px) contrast(0.86);">
<div class="row mt-3" >
    <div class="col-6 offset-3"style="color: white;">
        <br>
        <br>
        <h1>Signup on Wanderlust</h1>
        <h6>create new account</h6>

        <br>
        <form action="/signup" method="POST" class="needs-validation" novalidate>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" type="text" class="form-control" required>
            <div class="valid-feedback">Looks good!</div>
            
            <label for="email">Email</label>
            <input type="text" name="email" id="email" type="text" class="form-control" required>
            <div class="valid-feedback">Looks good!</div>

            <label for="password">Password</label>
            <input type="text" name="password" id="password" type="text" class="form-control" required>
            <div class="valid-feedback">Looks good!</div>

            <button>Sign-up</button>
            <br>
            <p class="offset-4">already a user? <a href="/login">log-in</a></p>
        </form>
    </div>
</div>